<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token-url" value="https://my.crossroads.net/ministryplatform/oauth/token" />
    <add key="messages-page-id" value="341" />
    <add key="recipients-subpage-id" value="461" />
    <add key="contact-page-id" value="292" />
    <add key="event-needs-reminder-page-id" value="492" />
    <add key="event-participant-subpage-id" value="508" />
    <add key="message-template-id" value="1459" />
    <add key="from-contact-id" value="1519180" />
    <add key="author-user-id" value="5" />
    <add key="crds-domain" value="1" />
    <add key="action-status-id" value="2" />
    <add key="communication-status-id" value="3" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PlatformService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
        contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
    </client>
  </system.serviceModel>
</configuration>