<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token-url" value="xxxxxx" />
    <add key="register-api-user" value="xxxxxx" />
    <add key="register-api-password" value="xxxxxx" />
    <add key="messages-page-id" value="xxxxxx" />
    <add key="recipients-subpage-id" value="xxxxxx" />
    <add key="contact-page-id" value="xxxxxx" />
    <add key="event-needs-reminder-page-id" value="xxxxxx" />
    <add key="event-participant-subpage-id" value="xxxxxx" />
    <add key="message-template-id" value="xxxxxx"/>
    <add key="from-contact-id" value="xxxxxx"/>
    <add key="author-user-id" value="xxxxxx"/>
    <add key="crds-domain" value="xxxxxx"/>
    <add key="action-status-id" value="xxxxxx"/>
    <add key="communication-status-id" value="xxxxxx"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PlatformService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://my.crossroads.net/ministryplatformapi/PlatformService.svc/soap/oauth"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PlatformService"
        contract="PlatformService.PlatformService" name="BasicHttpBinding_PlatformService" />
    </client>
  </system.serviceModel>
</configuration>