<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MinistryPlatform" connectionString="Data Source=mp-int-db.cloudapp.net;Initial Catalog=MinistryPlatform; Integrated Security=False; User ID=plachmann;Password=pheve2011" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>