<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="MinistryPlatformDatabaseSource" connectionString="Data Source=MPTest02;Database=MinistryPlatform;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="MinistryPlatformDatabaseTarget" connectionString="Data Source=mp-int-db.cloudapp.net;Database=MinistryPlatform;Integrated Security=false;User ID=%MP_TARGET_DB_USER%;Password=%MP_TARGET_DB_PASSWORD%" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <!--Documentation: http://msdn.microsoft.com/en-us/library/ff660914%28v=pandp.20%29.aspx -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="MigrateMPData" />
    <assembly name="MigrateMPData" />
    <container>
      <register type="Program">
        <constructor>
          <param name="configReader">
            <dependency name="configReader" />
          </param>
          <param name="dataMover">
            <dependency name="dataMover" />
          </param>
        </constructor>
      </register>
      
      <register name="configReader"
                type="Interfaces.IMinistryPlatformTableConfigReader"
                mapTo="MinistryPlatformTableConfigReader">
      </register>
      
      <register name="dataMover"
                type="Interfaces.IMinistryPlatformDataMover" 
                mapTo="MinistryPlatformDataMover">
        <constructor>
          <param name="sourceDbConnection">
            <value value="MinistryPlatformDatabaseSource" typeConverter="UnityUtil.DbConnectionNameTypeConverter" />
          </param>
          <param name="targetDbConnection">
            <value value="MinistryPlatformDatabaseTarget" typeConverter="UnityUtil.DbConnectionNameTypeConverter" />
          </param>
          <param name="sourceDbName" value="[MinistryPlatform]" />
          <param name="targetDbName" value="[MP-INT-DB.CLOUDAPP.NET].[MinistryPlatform]" />
        </constructor>
      </register>
    </container>
  </unity>
  
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MigrateMPData.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>